In [2]:
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
print(school_data_complete)

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type    size   budget
0                 96           94        0.0   Government  2917.0  1910635
1                 90           43        0.0   Government  2917.0  1910635
2                 41           76        0.0   Government  2917.0  1910635
3                 89           86        0.0   Government  2917.0  1910635
4                 87           69        0.0   Government  2917.0  1910635
...              ...          ...        ...          ...     ...      ...
39165             51           48       14.0  Independent  1635.0  1043130
39166             81           89       14.0  Independent  1635.0  1043130
39167             99           99       14.0  Independent  1635.0  1043130
39168             72           77       14.0  Independent  1635.0  1043130
39169             47           62       14.0  Independent  1635.0  1043130

[39170 rows x 11 columns]

In [2]:
# Calculate the total number of schools
unique_school_name=school_data_complete['school_name'].unique()
total_school_number=len(unique_school_name)
print("Total Unique School Number :: ", total_school_number)

Total Unique School Number ::  15

In [3]:
# Calculate the total number of students
total_students_number=school_data_complete["student_name"].count()
print("Total Students :: ", total_students_number)

Total Students ::  39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print("Total Budget :: ", total_budget)

Total Budget ::  49298856

In [5]:
# Calculate the average math score.
average_math_score = school_data_complete["maths_score"].mean()
print("Average Math Sscore :: ", average_math_score)

Average Math Sscore ::  70.33819249425581

In [6]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
print("Average Reading Sscore :: ", average_reading_score)

Average Reading Sscore ::  69.98013786060761

In [7]:
# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
print("Average Reading Sscore :: ", average_reading_score)

Average Reading Sscore ::  69.98013786060761

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)

students_passing_math = school_data_complete.loc[school_data_complete["maths_score"] >= 70]
number_students_passing_math = students_passing_math["Student ID"].count()

percent_passing_math = (number_students_passing_math / total_students_number) * 100

print("Percent Passing Math :: ", percent_passing_math)

Percent Passing Math ::  51.460301250957365

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
number_students_passing_reading = students_passing_reading["Student ID"].count()

percent_passing_reading = (number_students_passing_reading / total_students_number) * 100
print("Percent Passing Reading :", percent_passing_reading)

Percent Passing Reading : 50.814398774572375

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)

Overall_passing = school_data_complete[(school_data_complete['maths_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].count()/total_students_number*100

print("Overall Passing :", Overall_passing)

Overall Passing : 26.316058207812098

In [15]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    "Total Schools": total_school_number,
    "Total Students": f"{total_students_number:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{average_math_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Math": f"{percent_passing_math:.6f}",
    "% Passing Reading": f"{percent_passing_reading:.6f}",
    "% Overall Passing": f"{Overall_passing: .6f}"
}, index=[0])


print(district_summary)

   Total Schools Total Students    Total Budget Average Math Score  \
0             15         39,170  $49,298,856.00          70.338192

  Average Reading Score % Passing Math % Passing Reading % Overall Passing
0              69.98014      51.460301         50.814399         26.316058

In [11]:
# Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])
school_name

In [12]:
# school types by school name
school_type = school_data.set_index('school_name')['type']

In [13]:
#Â  Calculate total students
total_student = school_name['Student ID'].count()
total_student

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [14]:
# Total school budget
total_school_budget = school_data.set_index('school_name')['budget']

In [15]:
# per student budget
budget_per_student = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])

In [16]:
# Average Math Score
average_math_score = school_name['maths_score'].mean()

In [17]:
# Average Reading Score
average_reading_score = school_name['reading_score'].mean()

In [18]:
# % Passing Math
pass_math_percent = school_data_complete[school_data_complete['maths_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [19]:
# % Passing Reading
pass_read_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_student*100

In [20]:
# % Overall Passing (The percentage of students that passed math and reading.
overall_pass = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['maths_score'] >= 70)].groupby('school_name')['Student ID'].count()/total_student*100

In [21]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": budget_per_student,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass})

#munging
school_summary = school_summary[['School Type',
                          'Total Students',
                          'Total School Budget',
                          'Per Student Budget',
                          'Average Math Score',
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]
#formatting
school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}",
                          'Average Reading Score': "{:6f}",
                          "% Passing Math": "{:6f}",
                          "% Passing Reading": "{:6f}"})

In [22]:
# Sort and display the top five schools by passing rate
top_perform = school_summary.sort_values("% Overall Passing", ascending = False)
top_perform.head().style.format({'Total Students': '{:}',
                           "Total School Budget": "${:,.2f}",
                           "Per Student Budget": "${:.2f}",
                           "% Passing Math": "{:6f}",
                           "% Passing Reading": "{:6f}",
                           "% Overall Passing": "{:6f}"})

In [23]:
    # Sort and display the bottom five schools by passing rate
bottom_perform = top_perform.tail()
bottom_perform = bottom_perform.sort_values('% Overall Passing')
bottom_perform.style.format({'Total Students': '{: }',
                       "Total School Budget": "${:,.2f}",
                       "Per Student Budget": "${:.2f}",
                       "% Passing Math": "{:6f}",
                       "% Passing Reading": "{:6f}",
                       "% Overall Passing": "{:6f}"})

In [29]:
#creates grade level average math scores for each school
ninth_math = student_data.loc[student_data['year'] == 9].groupby('school_name')["maths_score"].mean()
tenth_math = student_data.loc[student_data['year'] == 10].groupby('school_name')["maths_score"].mean()
eleventh_math = student_data.loc[student_data['year'] == 11].groupby('school_name')["maths_score"].mean()
twelfth_math = student_data.loc[student_data['year'] == 12].groupby('school_name')["maths_score"].mean()

math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School Name"

#show and format
math_scores.style.format({'9': '{:.6f}',
                          "10": '{:.6f}',
                          "11": "{:.6f}",
                          "12": "{:.6f}"})

In [27]:
#creates grade level average math scores for each school
ninth_reading = student_data.loc[student_data['year'] == 9].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['year'] == 10].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['year'] == 11].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['year'] == 12].groupby('school_name')["reading_score"].mean()

reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading})

reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School Name"

#show and format
reading_scores.style.format({'9': '{:.6f}',
                          "10": '{:.6f}',
                          "11": "{:.6f}",
                          "12": "{:.6f}"})

In [19]:
# Combine the data into a single dataset for Local School  
local_schooldata = school_data[school_data['type'] =='Government']

all_school_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

local_school_data = all_school_data[all_school_data['type'] =='Government']
local_school_data.head()
print(local_school_data)

       Student ID     student_name gender  year        school_name  \
0               0     Paul Bradley      M     9  Huang High School
1               1     Victor Smith      M    12  Huang High School
2               2  Kevin Rodriguez      M    12  Huang High School
3               3    Richard Scott      M    12  Huang High School
4               4       Bonnie Ray      F     9  Huang High School
...           ...              ...    ...   ...                ...
37530       37530   William Rivera      M     9   Ford High School
37531       37531     Bernard Reid      M     9   Ford High School
37532       37532      Dawn Sawyer      F    12   Ford High School
37533       37533     Thomas Knapp      M    12   Ford High School
37534       37534   Melissa Porter      F     9   Ford High School

       reading_score  maths_score  School ID        type    size   budget
0                 96           94        0.0  Government  2917.0  1910635
1                 90           43        0.0  Government  2917.0  1910635
2                 41           76        0.0  Government  2917.0  1910635
3                 89           86        0.0  Government  2917.0  1910635
4                 87           69        0.0  Government  2917.0  1910635
...              ...          ...        ...         ...     ...      ...
37530             42           94       13.0  Government  2739.0  1763916
37531             76           46       13.0  Government  2739.0  1763916
37532             66           43       13.0  Government  2739.0  1763916
37533             62           83       13.0  Government  2739.0  1763916
37534             73           58       13.0  Government  2739.0  1763916

[26976 rows x 11 columns]

In [4]:
# Calculate the total number of local schools
local_unique_school_name=local_school_data['school_name'].unique()
local_total_school_number=len(local_unique_school_name)
local_total_school_number

7

In [5]:
# Calculate the total number of  local students
local_students_count=local_school_data["student_name"].count()
local_students_count

26976

In [20]:
# Calculate the total school budget for local School
local_total_budget = local_schooldata["budget"].sum()
local_total_budget

17347923

In [8]:
# per local student budget
local_budget_per_student = (local_school_data.set_index('school_name')['budget']/local_school_data.set_index('school_name')['size'])

In [9]:
# Calculate the local average math score.
local_average_math_score = local_school_data["maths_score"].mean()
local_average_math_score

69.99039887307237

In [10]:
# Calculate the average local reading score
local_average_reading_score = local_school_data["reading_score"].mean()
local_average_reading_score

69.75348457888494

In [ ]:
#Calculate the percentage of local students with a passing math score (70 or greater)

local_students_passing_reading = local_school_data.loc[local_school_data["score"] >= 70]
local_number_students_passing_math = local_students_passing_math["Student ID"].count()
local_percent_passing_math = (local_number_students_passing_math / local_students_count) * 100
local_percent_passing_math

In [27]:
#Calculate the percentage of local students with a passing reading score (70 or greater)

local_students_passing_reading = local_school_data.loc[local_school_data["reading_score"] >= 70]
local_number_students_passing_reading = local_students_passing_reading["Student ID"].count()
local_percent_passing_reading = (local_number_students_passing_reading / local_students_count) * 100
local_percent_passing_reading

50.46337485172005

In [12]:
# Calculate the percentage of local students who passed math and reading (% Overall Passing)

local_Overall_passing = local_school_data[(local_school_data['maths_score'] >= 70) & (local_school_data['reading_score'] >= 70)]['Student ID'].count()/local_students_count*100
local_Overall_passing

25.75252075919336

In [28]:
# Create a local school dataframe to hold the above results
local_district_summary = pd.DataFrame({
    "Total Schools": local_total_school_number,
    "Total Students": f"{local_students_count:,}",
    "Total Budget": f"${local_total_budget:,.2f}",
    "Average Math Score": f"{local_average_math_score:.6f}",
    "Average Reading Score": f"{local_average_reading_score:.5f}",
    "% Passing Math": f"{local_percent_passing_math:.6f}",
    "% Passing Reading": f"{local_percent_passing_reading:.6f}",
    "% Overall Passing": f"{local_Overall_passing: .6f}"
}, index=[0])

local_district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,7,"26,976","$17,347,923.00",69.990399,69.75348,50.811833,50.463375,25.752521